<div class='container px-5 px-sm-0'>
 <div class="row">
  <div class="col-md-2">
   <h3><strong>User info</strong></h3>
   <%= render 'info', user: current_user %>
   <% if current_user.name != "guestuser" %>
     <%= link_to '新規投稿', new_idea_path, class: "btn btn-info" %>
   <% end %>
   <h3><strong>ジャンル</strong></h3>
    <%= render 'user/ideas/genre_search', genres: @genres %>
  </div>
<%#フォルダーが違うときはフォルダー名も入れる%>
   
    <div class='col-md-4 offset-md-1'>
   <h2>Users</h2>
   <%= render 'index',users: @users %>
   </div>
  </div>
 </div>
</div>