<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3><strong>User info</strong></h3>
      <%= render 'user/users/info', user: @user %>
      <h3><strong>アイデア</strong></h3>
      <%= render 'user/ideas/form', idea: @idea %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3><strong>アイデア一覧</strong></h3>
      
      <%= render 'user/ideas/index',ideas: @ideas %>
      
      
    </div>
  </div>
</div>
