<!--<h4 class="mt-3">ジャンル検索</h4>-->
<div class = "genre-search-contents ", style = "height:300px">
  <% genres.each do |genre| %>
    <p class = "ml-2 mt-2">
     <i class="fas fa-tags"></i>
      <%= link_to idea_genre_ideas_path(genre), class:"text-dark" do %>
        <%= genre.name %>
      <% end %>
    </p>
  <% end %>
</div>