<p id="notice"></p>
<div class="home_ontainer">
  <div class="row">
    <div class="px-3 mx-auto" style="text-align:center;">
      <h1>  </h1>
      <p class= "home_p">
        収納上手で広々なお部屋を手に入れよう</br>
        </br>
        </br>
        </br>
        <!--ぜひご注文ください。-->
      </p>
      <%= image_tag 'ribingu', size: "700x500" %>
    </div>
  </div>
</div>


