<div class="container">
 <div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
     <%= render 'user/users/info', user: current_user %>
    
    <h2 class="mt-3">New idea</h2>
     <%= render 'user/ideas/form', idea: @idea %><%#フォルダーが違うときはフォルダー名も入れる%>
  </div>
     <div class='col-md-8 offset-md-1'>
      <h2>コミュニティ</h2>
      <div class='col-md-2'>
        <%= render 'user/genres/idea_genre',users: @users %>
      </div>
    </div>
  </div>
 </div>