<!-- 'ideas/show'で使用中 -->
<div id="comment-count">
  <h6>コメント一覧<%= "#{comments.count}件" %></h6>
</div>
<div id="comments">
  <% comments.first(2).each do |comment| %>
    <%= render 'user/idea_comments/idea_comments', comment: comment %>
  <% end %>
</div>

<!-- コメントが3件以上の場合、残りのコメントをプルダウンで表示するボタンの作成 -->
<% comments.offset(2).any? %>
<div id="comments">
  <button type="button" class="btn-primary" onclick="this.parentNode.style.display='none'">
    もっと見る....
  </button>
</div>
<% comments.offset(2).each do |comment| %>
<div id="comments"><%= render 'user/idea_comments/idea_comments', comment: comment %></div>
<% end %>
